<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chikuo.tw.lightspeedtalk_android">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".activity.ChatListActivity" />
        <activity android:name=".activity.ChatActivity" />


        <meta-data
            android:name="com.arrownock.APP_KEY"
            android:value="@string/lightspeed_app_key" />
        <meta-data
            android:name="com.arrownock.push.SERVICE_TYPE"
            android:value="ARROWNOCK" />


        <!-- Default Lightspeed Push Receiver -->
        <service android:name="com.arrownock.push.PushService" />
        <receiver android:name="com.arrownock.push.PushBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.arrownock.push.PushService.MSG_ARRIVAL" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
            <meta-data
                android:name="com.arrownock.push.BroadcastReceiver.ArrivalActivity"
                android:value=".activity.ChatListActivity" />
        </receiver>


        <!-- ActiveAndroid version and database name -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="LightSpeedTalk-android.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

    </application>

</manifest>
