<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chikuo.tw.lightspeedtalk_android">


    <!-- Lightspeed推播需要的權限，包括網路、與寫入SD卡。 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 填寫建立的Lightspeed AppKey -->
        <!--<meta-data android:name="com.arrownock.im.APP_KEY" android:value="EHXIK9bvMcXq6XwXQcqcPtPuBodpDco7"/>-->
        <meta-data
            android:name="com.arrownock.APP_KEY" android:value="@string/app_key" />


        <!-- ActiveAndroid version and database name -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="LightSpeedTalk-android.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />



        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".Activity.ChatListActivity" />
        <activity android:name=".Activity.ChatActivity" />


    </application>

</manifest>
